/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3s ease-in-out;
  scroll-behavior: smooth;
}

body {
  font-family: var(--hind);
}

:root {
  /* font family */
  --hind:'Hind', sans-serif;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-grid {
  display: grid;
}

/* main */

main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.head-greating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center
}

.head-greating img {
  max-width: 150px;
  margin-bottom: 1em;
  position: relative;
  z-index: 999;
  animation: zoomout .5s ease-in-out infinite alternate-reverse;
}

@keyframes zoomout {to {transform: scale(.9);}}

main figcaption .titleBirthday {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.countdown {
  justify-content: space-evenly;
  /* margin: 1.5em 0; */
}

.time {
  text-align: center;
  font-size: 1rem;
}

.card-msg-detail {
  font-weight: 500;
  font-size: 1.1rem;
  transform: translateY(10px);
  opacity: 0;
  transition: all .3s ease-in-out;
  padding: 1em;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,.3);
  display: none;
  position: relative;
  z-index: 9999;
}

.card-msg-detail.show {
  transform: translateY(0);
  opacity: 1;
  display: block;
}

.card-msg-detail p {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
  line-height: 1.5em;
}

@keyframes typing {
  to {
    width: 100%;
  }
}

.card-msg-detail img {
  max-width: 150px;
  animation: zoomout .5s ease-in-out infinite alternate-reverse;
}

.card-msg-detail p:nth-child(2).popUp {
  animation: typing 3s steps(42, end) forwards;
}

.card-msg-detail p:nth-child(3).popUp {
  animation: typing 3s steps(39, end) forwards 3.1s;
}

.card-msg-detail p:nth-child(4).popUp {
  animation: typing 3s steps(32, end) forwards 6.1s;
}

.card-msg-detail p:nth-child(5).popUp {
  animation: typing 3s steps(21, end) forwards 9.1s;
}

.card-msg-detail p:nth-child(6).popUp {
  animation: typing 3s steps(28, end) forwards 12.1s;
}

.card-msg-detail p:nth-child(7).popUp {
  animation: typing 3s steps(34, end) forwards 15.1s;
}

.card-msg-detail p:nth-child(8).popUp {
  animation: typing 3s steps(44, end) forwards 18.1s;
}

.card-msg-detail p:nth-child(9).popUp {
  animation: typing 3s steps(37, end) forwards 21.1s;
}

.btn-notif {
  text-align: center;
  margin-top: 1em;
}

.btn-notif button.btnLink {
  display: none;
  padding: .8em;
  font-size: 1.2rem;
  width: 100%;
  margin-top: 1em;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  border: none;
}

.nextPage {
  display: none;
  padding: .8em;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  margin-top: 1em;
}

/* Section Video */

#video {
  width: 100%;
  /* height: 100vh; */
  background: rgba(0,0,0,.9);
  display: none;
  color: #fff;
  position: relative;
}

#video .bottomsvg {
  position: relative;
  bottom: -10px;
}

#video h1 {
  font-size: 2rem;
}

#video .container .captions {
  gap: 2em;
  padding: 2em 0;
  margin-top: 3em;
  justify-content: flex-start;
  animation: infinites-scroll .3s linear infinite;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* border: 1px solid white; */
}

::-webkit-scrollbar {
  display: none;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);

  }
}

/* #video .mark-border {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #0099ff;
}

#video .mark-blue {
  font-style: italic;
  color: #0099ff;
} */

#video .slider-name {
  text-align: center;
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.slider-name .slider-caps {
  /* height: 100vh; */
  justify-content: center;
}

.slider-name video {
  object-fit: cover;
  width: 100%;
  display: none;
}

.slider-name video.show {
  display: block;
}

.slider-name .slide-photo {
  margin: 1em 0;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 100%;
}

.slide-photo #element {
  text-align: center;
  font-size: 1.3rem;
}

#video .moment {
  margin: 2em 0;
  text-align: center;
  display: none;
}

#video .moment.show {
  display: block;
}

.captions {
  margin-top: 2em;
}

.captions .box-media {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.captions .photo-card {
  flex: 0 0 300px;
  transform-origin: top center;
}

.captions .photo-card:first-child {
  animation: photo-shake 3s ease-in-out infinite alternate;
}

.captions .photo-card:nth-child(2) {
  animation: photo-shake 3s ease-in-out .3s infinite alternate;
}

.captions .photo-card:nth-child(3) {
  animation: photo-shake 3s ease-in-out .6s infinite alternate;
}

.captions .photo-card:nth-child(4) {
  animation: photo-shake 3s ease-in-out .9s infinite alternate;
}

.captions .photo-card:nth-child(5) {
  animation: photo-shake 3s ease-in-out 1.2s infinite alternate;
}

.captions .photo-card:nth-child(6) {
  animation: photo-shake 3s ease-in-out 1.5s infinite alternate;
}


@keyframes photo-shake {
  0% {
    transform: rotate(0)
  } 
  50% {
    transform: rotate(-10deg)
  } 
  100% {
    transform: rotate(10deg)
  }
}

.captions .box-media img, .box-media video {
  object-fit: cover;
  width: 100%;
}

.photo-card figcaption {
  padding: .5em;
  text-align: center;
  background-color: #fff;
  color: #000;
}



/* footer */
footer {
  padding: 1em 0;
  text-align: center;
  display: none;
}

footer.show {
  display: block;
}